body {
	display: flex;
	align-items: center; 
	flex-direction: column;
	background-color: #e8f8fd;
}

#cvs {
	visibility: hidden;
	cursor: url('img/aim.png') 32 32, pointer;
	border: 1px solid black;
}

h1 {
	font-size: 32px;
    text-align: center;
	font-family: monospace, 'Times New Roman', Times, serif;
}

h2 {
	font-size: 20px;
    text-align: center;
	font-family: monospace, 'Times New Roman', Times, serif;
	padding: 30px 0px 10px;
}

.restartButton{
	visibility: hidden;
}

.restartButton button{
	padding: 7px 17px;
	font-family: monospace, 'Times New Roman', Times, serif;
	font-size: 16px;
	font-weight: bold;
	background: #fbdb25;
	border: none;
	color: white;
	text-decoration: none;
}

.restartButton button:hover{
	background: #face0a;
}

.info{
	visibility: hidden;
	text-align: justify;						 
	text-align-last: justify;
}

.info p{
	font-size: 18px;
	font-family: monospace, 'Times New Roman', Times, serif;
	display: inline-block;
}

.startPage{
	width: 800px;
	height: 500px;
	border: 1px solid black;
	text-align: center;
	background-color: #edfde88e;
	font-size: 16px;
	font-family: monospace, 'Times New Roman', Times, serif;
}

.startPage p{
	padding: 0px 100px;
	line-height: 1.4;
}

.startPage button{
	padding: 15px 45px;
	font-family: monospace, 'Times New Roman', Times, serif;
	font-size: 20px;
	font-weight: bold;
	margin-top: 30px;
	background: #fbdb25;
	border: none;
	color: white;
	text-decoration: none;
}

.startPage button:hover{
	background: #face0a;
}


